body{
    background-color: indigo;
    font-family: Arial;
    color: white;
    font-size: small;
    font-weight: lighter;
    background-image: url(/prova_pratica/imagens/goku.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 31%;
}
h2{
    background-color: darkmagenta;
    border: gold;
    border-style: dotted;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-family: cursive;
    color: goldenrod;
    font-size: 20px;
}
fieldset{
    border: gold;
    border-style: solid;
    padding: 10px;
}
#bar{
    width: 60%;
    padding: 5px;
    border-radius: 5px;
}
#planeta{
    width: 40%;
    padding: 5px;
}
#raças{
    width: 40%;
    padding: 5px;
}
button{
    border-radius: 5px;
    background-color: darkmagenta;
    color: white;
    width: 100px;
    height: 40px;
}
button:hover{
    transform: scale(1.25);
    transition: 0.35s;
    box-shadow: 0px 0px 210px rgb(233, 201, 255);
}
h2:hover{
    transform: scale(1.10);
    transition: 0.25s;
}

#obs{
    resize: none;
}