body{
    background-color: indigo;
    font-family: Arial;
    color: white;
    font-size: small;
    font-weight: lighter
}
h2{
    background-color: purple;
    border: gold;
    border-style: dashed;
    text-align: center;
    padding: 5px;
}
fieldset{
    border: gold;
    border-style: solid;
    padding: 10px;
}
#bar{
    width: 60%;
    padding: 5px;
}
#planeta{
    width: 40%;
    padding: 5px;
}
#raças{
    width: 40%;
    padding: 5px;
}